<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.84.0">
		<title>
			{% block title %}Back Office
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/backoffice.css')}}">
			<link rel="stylesheet" href="{{ asset('css/tree_structure_category.css')}}">


			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		{% endblock %}
		{% block javascripts %}
			<script src="https://kit.fontawesome.com/74ed2f933d.js" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
			
			<script defer src="{{ asset('js/backoffice.js') }}"></script>
			<script defer src="{{ asset('js/back_user_id.js') }}"></script>
		{% endblock %}


		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>


		<!-- Custom styles for this template -->
		<link href="sidebars.css" rel="stylesheet">
	</head>
	<body>
	{% block header %}
		{% include "partials/_header.back.office.html.twig" %}
		{% endblock %}

		{% block cards %}
		{% include "partials/_cards.back.office.html.twig" %}
		{% endblock %}
		<div class="position-relative"><a class="position-absolute top-0 start-100 badge border border-light rounded-circle bg-danger p-2" href="{{ path('admin_home_index') }}"><svg class="bi" width="16" height="16"><use xlink:href="#home"></use></svg></a></div>
			{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}" id="message_flash">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}


		{% block body %}{% endblock %}

		
	</body>
</html>
