{% extends 'admin/layout.back.office.html.twig' %}

{% block title %}Nouvelle adresse
{% endblock %}

{% block body %}
{% block cards %}{% endblock %}


	<section class="container-fluid scrollarea table-boot py-5">
		<h1 class="text-center">Ajout d'une nouvelle adresse</h1>
		<a href="{{ path('admin_user_personal_details', {id:user.id}) }}">Retour</a>
		<section class="container-lg">
			<div class="container-fluid mx-lg-auto d-flex justify-content-center">
				<div class="row g-3 mt-2 d-flex justify-content-center">
					{{ form_start(form) }}
							<div class="mb-3">
						{{ form_row(form.type) }}
					</div>
					<div class="mb-3">
						{{ form_row(form.street) }}
					</div>
					<div class="mb-3">
						{{ form_row(form.zipcode) }}
					</div>
					<div class="mb-3">
						{{ form_row(form.city) }}
					</div>
			
					<div class="">
						<button type="submit" class="btn btn-lg btn-primary">Ajouter</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</section>
		
	</section>
{% endblock %}
