{% extends 'admin/layout.back.office.html.twig' %}

{% block title %}Liste des Utilisateurs !
{% endblock %}

{% block body %}
		<h1>informations concernant {{user.firstname}} {{user.lastname}}</h1>
	<section class="container mt-5 ">
            <h2>Categories</h2>
			
            <table class="table  table-hover">
				<thead class="table-primary">
					<tr>
						<th scope="col">N° Commande</th>
						<th scope="col">Détails commandes</th>
						<th scope="col">Statut</th>
						<th scope="col">adresse facturation</th>
						<th scope="col">adresse livraison</th>
                        <th scope="col">Mode de paiement</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for order in user.orders %}
						<tr>
							<th scope="row">{{ order.id }}</th>
                            <td>
                                <div class="d-block" class="summary_number_orderlines" id="summary_number_orderlines_{{ order.id }}">
                                {{ order.orderLines|length }} produits achetés
                                <button class="button_orderLines_infos" data-id="{{ order.id }}">plus d'infos</button>
                                </div>

                                <table class="d-none table  table-hover" class="orderLines_infos" id="orderLines_infos_{{ order.id }}">
				                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Ligne Cde</th>
                                            <th scope="col">Nom produit</th>
                                            <th scope="col">Nb</th>
                                            <th scope="col">HT</th>
                                            <th scope="col">TVA</th>
                                            <th scope="col">prix TTC</th>
                                            <th scope="col"> <button class="button_hide_orderLines_infos" data-id="{{ order.id }}">Masquer</button></th>
                                        </tr>
				                    </thead>
                                
                                    {% set results = [] %}
							        {% for orderLine in order.orderLines %}
                             
                                    {% set results = results|merge([orderLine.inclTaxesUnitPrice]) %}

				                    <tbody>
                                            <tr>
                                                <th scope="row">{{ orderLine.id }}</th>
                                                <td>{{ orderLine.productName }}</td>
                                                <td>{{ orderLine.quantity }}</td>
                                                <td>{{ orderLine.exclTaxesUnitPrice }}€</td>
                                                <td>{{ orderLine.salesTax }}%</td>
                                                <td>{{ orderLine.inclTaxesUnitPrice }}€</td>
                                                <td>
                                                    <a href="#">éditer</a>
                                                </td>
                                            </tr>
                                    </tbody>
                                 {% endfor %}
                                {% set totalAmount = 0 %}
                                {% for result in results %}
                                {% set totalAmount = totalAmount + result %}
                                {% endfor %}
                                 <div class="container fw-bold text-decoration-underline">Total: {{ totalAmount }}€ TTC</div>
                                </table>
                            </td>
							<td>statut de la commande</td>
							<td>adresse facturation</td>
							<td>adresse livraison</td>
                            <td>Mode de paiement</td>
						    <td>
                                <a href="#">plus</a>
                                 / 
                                <a href="#">editer</a>
                            </td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">Aucunes données trouvées</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>







            {% for address in user.addresses %}
                <div>
                    <p>{{ address.type }}</p>
                    <p>{{ address.street }}</p>
                    <p>{{ address.zipcode }}</p>
                    <p>{{ address.city }}</p>
                </div>
            {% endfor %}
		


            	<ul>
				{% for order in user.orders %}
					<li>{{ order.modeOfPayment.type }}</li>
				{% endfor %}
			</ul>
		</section>
	</section>
{% endblock %}
