{% extends 'admin/layout.back.office.html.twig' %}

{% block title %}Modifier un Utilisateur
{% endblock %}

{% block body %}


	<section class="container scrollarea">
		<h1 class="text-center">Modification d'un Utilisateur</h1>
		<a href="{{ path('admin_user_personal_details', {id:user.id}) }}">Retour</a>
		<section class="container-lg">
			<div class="container-fluid mx-lg-auto d-flex justify-content-center">


				<div class="row g-3 mt-2 d-flex justify-content-center">
					{{ form_start(form) }}
					<div class="container">
						<div class="row">
							<div class="col-md-6 mb-3">
								{{ form_row(form.email) }}
							</div> 
							<div class="col-md-6 mb-3">
								{{ form_row(form.password, {
                                    label: 'Password'
                                }) }}
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								{{ form_row(form.gender) }}
							</div>
							<div class="col-md-3">
								{{ form_row(form.roles) }}
							</div>
							<div class="col-md-3 fst-italic text-danger">
								Attention, le rôle le plus haut que vous attribuez à l'utilisateur ne peut en aucun cas correspondre à un rôle supérieur au vôtre. Dans le cas contraire, le rôle de l'utisateur sera réattribué afin d'être identique au vôtre.
							</div>
							<div class="container">
								<div class="row gy-3">
									<div class="col-md-4">
										{{ form_row(form.firstname) }}

									</div>
									<div class="col-md-4">
										{{ form_row(form.lastname) }}
									</div>
									<div class="col-md-4">
										{{ form_row(form.phoneNumber) }}
									</div>

								</div>
								<div class="col-md-6">
									{{ form_row(form.birthdate) }}
								</div>
								<div class="col-12">
									<button type="submit" class="btn btn-lg btn-primary">Modifier</button>
									{{ form_end(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
{% endblock %}
