<h1 style="font-size: 1.5em;">Cher Monsieur
	{{ user.lastname }}, votre commande a bien été validée<a href="http://www.techaway.fr">Tech a Way</a>
</h1>

<h2 class="text-center mt-4" style="border-bottom:1px solid #F25528">Votre commande</h1>

<div id="feature_product" class="row">
	<div class="col-md-3">Produit</div>
	<div class="col-md-4">Description</div>
	<div class="col-md-2">Quantité achetée</div>
	<div class="col-md-2">Prix</div>
	<div class="col-md-1">
		<i class="fas fa-trash delete_icon"></i>
	</div>
</div>

{% for orderLine in order %}
	<div class="row p-3 product product_1">
		<div class="col-3 col-md-3 picture_product">
			<img src="{{ asset('uploads/' ~ orderLine.product.getPictures[0].name) }}" alt="product" width="120px">
		</div>
		<div class="col-8 col-md-4 product_characteristics">
			<p class="name_product">
				<a href="{{ path('product_details', {id: orderLine.product.id}) }}">{{ orderLine.product.brand.name }}
					{{ orderLine.product.name }}</a>
			</p>
			<p class="description_product">{{ orderLine.product.description }}</p>
		</div>
		<div class="col-md-2 d-flex align-items-baseline quantity">
			<div class="fw-bold mx-2" id="actual_quantity_product_1">{{ orderLine.quantity }}</div>
		</div>
		<div class="col-md-2 price">{{ orderLine.product.inclTaxesPrice * orderLine.quantity }}
			€</div>
	</div>
{% endfor %}
<div class="summary_total_amount">
	<div class="delivery col p-3 row">
		<div class="col-9 col-sm-10 col-md-9">Date de livraison estimée le :
			{{ "now"|date_modify("+3 day")|date("d/m/Y") }}</div>
		<div class="col-3 col-sm-2 col-md-3">Gratuit</div>
	</div>
	<div class="summary_order p-3 row mb-2">
		<form action="" class="d-flex mb-3">
			<input class="form-control me-2" type="order" placeholder="code PROMO" aria-label="order">
			<button class="btn btn-outline-secondary" type="submit">OK</button>
		</form>
		<div class="col-10 col-md-9 fs-5">Total commande TTC</div>
		<div class="col-2 col-md-3 fs-5">{{ total }}</div>
	</div>
</div>
