{% apply inline_css(source('@styles/bootstrap.min.css')) %}

<h1 style="font-size: 1.5em;">Cher Monsieur
	{{ user.lastname }}, votre commande a bien été validée pour un total de
	{{ total }}
</h1>


<h2 class="text-center mt-4" style="border-bottom:1px solid #F25528">Votre commande</h2>


<section class="container-fluid scrollarea table-boot py-5">
	<h1 class="container">Liste des produits</h1>
	<div class="container">
		<table class="table  table-hover">
			<thead class="table-primary">
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Quantité achetée</th>
					<th scope="col">prix HT</th>
					<th scope="col">TVA (%)</th>
					<th scope="col">prix TTC</th>
					<th scope="col">Référence</th>
					<th scope="col">Description</th>
				</tr>
			</thead>
			<tbody>
				{% for orderLine in order %}
					<tr>
						<td>{{ orderLine.product.name }}</td>
						<td>{{ orderLine.quantity }}</td>
						<td>{{ orderLine.product.exclTaxesPrice }}
							€</td>
						<td>{{ orderLine.product.salesTax }}
							%</td>
						<td>{{ orderLine.product.inclTaxesPrice }}
							€</td>
						<td>{{ orderLine.product.description }}</td>
						<td class="text-secondary fst-italic">{{ orderLine.product.reference }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
<h3><a href="http://www.techaway.fr">Tech a Way</a></h3>
{% endapply %}