{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="container">
    {% if items is not empty %}
			<h1 class="">MON PANIER</h1>


			<div id="feature_product" class="row">
				<div class="col-md-3">Produit</div>
				<div class="col-md-4">Description</div>
				<div class="col-md-2">Quantité</div>
				<div class="col-md-2">Prix</div>
				<div class="col-md-1">
					<i class="fas fa-trash delete_icon"></i>
				</div>
			</div>

            {% for item in items %}
			<div class="row p-3 product product_1">
				<div class="col-3 col-md-3 picture_product">
					<img src="{{ asset('/images/produits/acer-nitro-5.jpg')}}" alt="acer-nitro-5" width="120px">
				</div>
				<div class="col-8 col-md-4 product_characteristics">
					<p class="name_product">
						<a href="{{ path('product_details', {id: item.product.id}) }}">{{ item.product.brand.name }} {{ item.product.name }}</a>
					</p>
					<p class="description_product">{{ item.product.description }}</p>
                    {% if item.product.stock > 0 %}
					<p class="available">Disponible</p>
                    {% else %}
                    <p class="btn-warning">Non disponible</p>
                    {% endif %}
				</div>
				<div class="col-md-2 d-flex align-items-baseline quantity">

					<a href="{{ path('cart_remove_one_quantity', {id: item.product.id}) }}" class="btn btn-light btn-sm quantity_product_minus" id="quantity_product_minus_1">
						<i class="fas fa-minus"></i>
					</a>
					<div class="fw-bold mx-2" id="actual_quantity_product_1">{{ item.quantity }}</div>
					<a href="{{ path('cart_add', {id: item.product.id}) }}" class="btn btn-light btn-sm quantity_product_plus" id="quantity_product_plus_1">
						<i class="fas fa-plus"></i>
					</a>

				</div>

				<div class="col-md-2 price">{{ item.product.inclTaxesPrice * item['quantity'] }} €</div>
				<div class="col-md-1 button_delete">
					<a href="{{ path('cart_remove_all_one_product', {id: item.product.id}) }}"class="btn btn-light btn-sm button_delete_product" id="button_delete_product_1">
						<i class="fas fa-times"></i>
					</a>
				</div>
			</div>
        {% endfor %}
			<div class="summary_total_amount">
				<div class="delivery col p-3 row">
					<div class="col-9 col-sm-10 col-md-9">Date de livraison estimée le : {{ "now"|date_modify("+3 day")|date("d/m/Y") }}</div>
					<div class="col-3 col-sm-2 col-md-3">Gratuit</div>
				</div>
				<div class="summary_order p-3 row mb-2">
					<form action="" class="d-flex mb-3">
						<input class="form-control me-2" type="order" placeholder="code PROMO" aria-label="order">
						<button class="btn btn-outline-secondary" type="submit">OK</button>
					</form>
					<div class="col-10 col-md-9 fs-5">Total commande TTC</div>
					<div class="col-2 col-md-3 fs-5">{{ total }}</div>
				</div>
				<form action="{{ path('order_list') }}" class="button_order row">
					<button type="submit">COMMANDER</button>
				</form>
			</div>
        {% else %}
		<div class="container-fluid">
		<div class="row p-3 product product_1 justify-content-center">
		<div class="col-12 col-md-3 picture_product">
        	<p class="text-center text-uppercase fw-bold"> Votre panier est vide</p>
		</div>
		</div>
		</div>

        {% endif %}
		</main>
{% endblock %}
