{% extends 'admin/layout.back.office.html.twig' %}

{% block title %}Nouvelle marque
{% endblock %}

{% block body %}


	<section class="container scrollarea">
		<h1 class="text-center">Création d'une marque</h1>
		<a href="{{ path('admin_brand_index') }}">Retour</a>
		<section class="container-lg">
			<div class="container-fluid mx-lg-auto d-flex justify-content-center">
				<div class="row g-3 mt-2 d-flex justify-content-center">
					{{ form_start(form) }}
					<div class="mb-3">
						{{ form_row(form.name) }}
					</div>
					<div class="mb-3">
						{{ form_row(form.logo) }}
					</div>
					<div class="">
						<button type="submit" class="btn btn-lg btn-primary">Créer</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</section>
	</section>
{% endblock %}
