{% extends 'admin/layout.back.office.html.twig' %}

{% block title %}Mise à jour d'une marque
{% endblock %}

{% block body %}
{% block cards %}{% endblock %}


	<section class="container">
		<h1 class="text-center">Modification d'une marque</h1>
		<a href="{{ path('admin_brand_index') }}">Retour</a>
		<section class="container-lg">
			<div class="container-fluid mx-lg-auto d-flex justify-content-center">
				<div class="row g-3 mt-2 d-flex justify-content-center">
					{{ form_start(form) }}
					<div class="mb-3">
						{{ form_row(form.name) }}
					</div>
					<div class="mb-3">
						{{ form_row(form.logo) }}
					</div>
					<div class="">
						<button type="submit" class="btn btn-lg btn-primary">Editer</button>
						{{ form_end(form) }}
					</div>
						<div><a href="{{ path('admin_brand_delete', {id:brand.id, token:csrf_token('delete-brand')}) }}" class="col-4 btn btn-lg btn-danger">Supprimer</a></div>
				</div>
			</div>
		</section>
	</section>
{% endblock %}
