<div class="d-flex border partial_brands" id="partial_brands_1">
	<button class="button_brands-left">
		<i class="far fa-arrow-alt-circle-left"></i>
	</button>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/acer.png') }}" alt="acer" width="70px">
		</a>
	</div>

	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/apple.jpg') }}" alt="apple" width="70px">
		</a>
	</div>

	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/dell.png') }}" alt="apple" width="70px">

		</a>
	</div>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/lg.jpg') }}" alt="lg" width="70px">
		</a>
	</div>
	<button class="button_brands-right">
		<i class="far fa-arrow-alt-circle-right"></i>
	</button>
</div>

<div class="d-none border partial_brands" id="partial_brands_2">
	<button class="button_brands-left">
		<i class="far fa-arrow-alt-circle-left"></i>
	</button>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/nokia.png') }}"alt="nokia" width="70px">
		</a>
	</div>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/samsung.png') }}" alt="samsung" width="70px">
		</a>
	</div>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/sony.jpg') }}" alt="sony" width="70px">
		</a>
	</div>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/toshiba.jpg') }}" alt="toshiba" width="70px">
		</a>
	</div>
	<button class="button_brands-right">
		<i class="far fa-arrow-alt-circle-right"></i>
	</button>
</div>


<div class="d-none border partial_brands" id="partial_brands_3">
	<button class="button_brands-left">
		<i class="far fa-arrow-alt-circle-left"></i>
	</button>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/panasonic.png') }}" alt="panasonic" width="70px">
		</a>
	</div>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/philips.png') }}"alt="philips" width="70px">
		</a>
	</div>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/xiaomi.png') }}" alt="xiaomi" width="70px">
		</a>
	</div>
	<div>
		<a href="" class="">
			<img src="{{ asset('images/brands/asus.png') }}" alt="asus" width="70px">
		</a>
	</div>
	<button class="button_brands-right">
		<i class="far fa-arrow-alt-circle-right"></i>
	</button>
</div>
