<footer class="mt-3 pt-3 position-relative">

	<ul class="d-md-flex pt-md-4 pe-md-4 justify-content-md-between footer_list_links">
		<li>
			<a href="#">Qui sommes nous ?</a>
		</li>
		<li>
			<a href="#">mentions légales</a>
		</li>
		<li>
			<a href="#">CGU</a>
		</li>
		<li>
			<a href="#">Nous contacter</a>
		</li>
		<li>
			<a href="#">Mode paiement</a>
		</li>
		<li>
			<a href="#">Mode livraison</a>
		</li>
	</ul>

	<div class="d-md-flex justify-content-md-around footer_payments">
		<div><img src="{{ asset('images/paiements/american-express.jpg') }}" alt="logo" width="50px"></div>
		<div><img src="{{ asset('images/paiements/bitcoin.png') }}" alt="logo" width="50px"></div>
		<div><img src="{{ asset('images/paiements/cb.jpg') }}" alt="logo" width="50px"></div>
		<div><img src="{{ asset('images/paiements/mastercard.png') }}" alt="logo" width="50px"></div>
		<div><img src="{{ asset('images/paiements/paypal.png') }}" alt="logo" width="50px"></div>
		<div><img src="{{ asset('images/paiements/visa-electron.png') }}" alt="logo" width="50px"></div>
		<div><img src="{{ asset('images/paiements/visa.svg') }}" alt="logo" width="50px"></div>
	</div>
	<div class="footer_logo py-3"><img src="../images/logo_site/logo-web-transparent.png" alt="logo" width="180px"></div>
	<div class="footerben"></div>
</footer>
