		<header>
			<div class="d-md-none div_mobile">
			  <nav class="navbar navbar-dark">
				<div class="container-fluid">
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="burger">
					  <img src="{{ asset('images/burger_menu/burger-menu.png')}}" alt="" width="70px"></span>
				  </button>
				  <div class="mx-auto logo">
					<img src="{{ asset('images/logo/logo-web-transparent.png')}}" alt="logo" width="180px">
				  </div>
		
				  <div class="mx-auto logo_t">
					<img src="{{ asset('images/logo/T transparent.png')}}" alt="T" width="45px">
				  </div>
		
				  <div class="mx-3">
					<a href="" class="logo_search">
					  <i class="fas fa-search fa-2x me-4"></i>
					</a>
					{% if app.user.id is defined %}
					<a href="{{ path('acount_user_read_or_update', {id:app.user.id}) }}" class="logo_user">
					  <i class="fas fa-user fa-2x me-4"></i>
					</a>
					{% else %}
					<a href="{{ path('app_login') }}" class="logo_user">
					  <i class="fas fa-user fa-2x me-4"></i>
					</a>
					{% endif %}
					<a href="" class="logo_shopping_cart">
					  <i class="fas fa-shopping-cart fa-2x me-4"></i>
					</a>
				  </div>
				</div>
			  </nav>
			  <div class="collapse col-sm-4" id="navbarToggleExternalContent">
				<div class="p-4" id="displayClick">
				  <div class="d-sm-none d-flex justify-content-center">
					<form class="d-flex col-12" id="search">
					  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					  <button class="btn btn-outline-primary" type="submit">
						<i class="fas fa-search fa-2x text-light"></i>
					  </button>
					</form>
				  </div>
				  <a href="" id="burger_logo_shopping_cart">
					<i class="fas fa-shopping-cart fa-2x me-4 text-light"></i>
				  </a>
				  <a href="" class="logo_user">
					<i class="d-none fas fa-user fa-1x me-4 text-primary"></i>
				  </a>
				  <ul id="header_ul_burger">
					<li>
					  <a href="{{ path('home') }}" class="fs-3 fw-bold">Accueil</a>
					</li>
			
					{% for cat in global.categories %}
					<li>
					  <a href="#" class="fs-6 fst-italic"> {{ cat.name }} </a>
					</li>
					{% endfor %}
					<li>
					  <a href="#" class="fs-6 fst-italic">- Marques</a>
					</li>
					<li class="burger_li_shopping_cart">
					  <a href="{{ path('cart_list') }}" class="fs-5">Panier</a>
					</li>
					<li class="burger_li_user">

					{% if app.user.id is defined %}
					  <a href="{{ path('acount_user_read_or_update', {id:app.user.id}) }}" class="fs-5">Mon Compte</a>
				  {% else %}
				  <a href="{{ path('app_login') }}" class="fs-5">Mon Compte</a>
				{% endif %}


					</li>
				  </ul>
				</div>
			  </div>
			</div>
			<div class="d-md-block d-none div_desktop">
			  <div class="d-flex justify-content-between">
				<div class="ps-2 pt-2">
				  <a class="navbar-brand" href="{{ path('home') }}">
					<img src="{{ asset('images/logo_site/logo-web-transparent.png')}}" alt="cameleon" width="180px"></a>
				</div>
		
				<div class="pt-4 ">
				  <a href="{{ path('home') }}" class="logo_home_desktop ">
					<i class="fas fa-home fa-2x"></i>
				  </a>
				</div>
				<div class="py-4 col-6">
				  <div class="d-flex justify-content-center">
					<form class="d-flex col-12" id="search">
					  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					  <button class="btn btn-outline-primary" type="submit">
						<i class="fas fa-search fa-1x"></i>
					  </button>
					</form>
				  </div>
				  <div class="">
					<ul class="d-flex" id="liste_categories">
						{% for cat in global.categories %}
							<li class="col-3 ps-2" id="category_1">
								<a href="{{path('category_pagination', {id: cat.id})}}">{{cat.name}}</a>
								<div class="ps-1 header_sub_category" id="sub_category_1_appears">
									{% for subcat in cat.subcategories %}
										<div>
											<a href="{{ path('category_parent', {id:subcat.id}) }}">{{subcat.name}}</a>
										</div>
									{% endfor %}
								</div>							
							</li>
							{% endfor %}
					</ul>
				  </div>
				</div>
				<div class="d-flex pt-4 mx-3">
				{% if app.user.id is defined %}
				  <a href="{{ path('acount_user_read_or_update', {id:app.user.id}) }}" class="logo_user_desktop">
					<i class="fas fa-user fa-2x me-4"></i>
				  </a>
				  {% else %}
				  <a href="{{ path('app_login') }}" class="logo_user_desktop">
					<i class="fas fa-user fa-2x me-4"></i>
				  </a>
				    {% endif %}
				  <a href="{{ path('cart_list') }}" class="logo_shopping_cart_desktop">
					<i class="fas fa-shopping-cart fa-2x me-4"></i>
				  </a>
				</div>
			  </div>
			</div>
		  </header>
