<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Tech a Way : boutique en ligne
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/home_&_product.css')}}">
			<link rel="stylesheet" href="{{ asset('css/search_page.css')}}">
			<link rel="stylesheet" href="{{ asset('css/shopping_cart.css')}}">
			<link rel="stylesheet" href="{{ asset('css/base.css')}}">
			<link rel="stylesheet" href="{{ asset('css/style-account-pageV2.css')}}">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		{% endblock %}
		{% block javascripts %}
			<script defer src="{{ asset('js/carousel_brands.js') }}"></script>
			<script defer src="{{ asset('js/shopping_cart.js') }}"></script>
			<script defer src="{{ asset('js/resize.js') }}"></script>
			<script defer src="{{ asset('js/acount-page-cards.js') }}"></script>
			<script defer src="https://kit.fontawesome.com/74ed2f933d.js" crossorigin="anonymous"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		{% endblock %}

	</head>
	<body>
		{% include "partials/_header.html.twig" %}

		<div id="salutation_user">
			{% if app.user %}
				Bonjour
				{{app.user.firstname}}
				{% if (app.user.roles[0] == 'ROLE_CATALOG_MANAGER') or (app.user.roles[0] == 'ROLE_ADMIN') or (app.user.roles[0] == 'ROLE_SUPER_ADMIN') %}
				   -  <a href="{{ path('admin_home_index') }}">Accès Back Office</a>
				{% endif %}
                {% endif %}
		</div>
        <div id="connection_user">
            {% if app.user %}
        <a href="{{ path('app_logout') }}">( Déconnexion )</a>
        {% else %}
            <a href="{{ path('app_register') }}">S'enregistrer</a> /
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
        </div>
        <div id="spacing"></div>


			<div class="position-relative"><a class="position-absolute top-0 start-100 badge border border-light rounded-circle bg-danger p-2" href="{{ path('admin_home_index') }}"><svg class="bi" width="16" height="16"><use xlink:href="#home"></use></svg></a></div>
			{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}" id="message_flash">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}


        {% block body %}{% endblock %}
        {% include "partials/_carousel_brands.html.twig" %}
        {% include "partials/_footer.html.twig" %}</body>
	</body>
</html>
