  {% extends 'base.html.twig' %}

{% block title %}Résultat de la recherche :

{% endblock %}

{% block body %} 
 <section class="row p-2 m-0 container-fluid" >
 <div class=" col-2  mobilefirst">
               {% include "partials/_filtre.html.twig" %}
        <div class=" container col-lg-10">
                  <div class="container-fluid row d-flex justify-content-between py-3">
                       <div class=" col-lg-6 py-3 " >
                        {{knp_pagination_render(products,'pagination.html.twig')}}
                        </div>
                        <div class="form-group col-lg-6 color">
                          <label for="filtre" >trier</label>
                          <select class="form-control form-control-sm" id="filtre" placeholder="name@example.com">
                            <option ></option>
                            <option>du - cher au + cher</option>
                            <option>du + cher au - cher</option>
                          </select>           
                        </div>    
                  </div>
       
                <div class="container" id="displayOfNewProducts">
                  <div class="row">
                    {% for newProduct in products %}
                      <div class="d-flex justify-content-center col-xs-12 col-md-6 col-lg-4">
                        <div class="text card mb-4 shadow p-3 mb-5  rounded">
                          <a class="img-container" href="{{ path('product_details', {id: newProduct.id}) }}">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="" src="{{ asset('uploads/' ~  newProduct.pictures[0].name) }}" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                          </a>

                          <title>{{newProduct.name}}</title>
                          <rect width="100%" height="100%" fill="#55595c"></rect>
                          <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{newProduct.name}}</text>
                          {% if newProduct.statusPromotion %}
                          <text x="50%" y="50%" fill="#eceeef" dy=".3em" class="text text-warning">Promo</text>
                          {% endif %}
                          <text x="50%" y="50%" fill="#eceeef" dy=".3em"> Prix {{newProduct.inclTaxesPrice}}€</text>
                          <div class="card-body d-flex flex-column justify-content-between">
                            <p class="card-text d-flex align-items-start">{{newProduct.description}}</p>
                            <div class="d-flex justify-content-between">
                              <div class="btn-group">
                                <a href="{{ path('product_details', {id: newProduct.id}) }}" type="button" class="btn btn-sm btn-outline-secondary">Voir</a>
                                <a href=" {{path('cart_add', {id: newProduct.id})}}" type="button" class="btn btn-sm btn-outline-secondary">Panier</a>
                              </div>                            
                              <small class="text-muted">{{newProduct.brand.name }}</small>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
            </div>
	</div>
  </section>


{% endblock %}