{% extends 'admin/layout.back.office.html.twig' %}


{% block title %} Accès interdit {% endblock %}
{% block body %} 

<div class="container-fluid mt-4 border-0">
    <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <img style="height:200px;" src="{{ asset('images/errors/403.png')}}" alt="">
        </div>
        <div class="col-12 text-center">
            <h1 class="text-danger mb-5">Accès interdit</h1>
            <p>Vous n'avez pas la permission d'accéder à cette page</p>
            <p>Code de l'erreur : {{ status_code }}</p>
            <p>Message de l'erreur : {{ status_text }}</p>
            <p class="mt-5 fw-bold text-danger">Raison : {{ exception.message }}</p>
                <h2><a class="fs-6"href="{{ path('admin_user_index') }}">Liste des Utilisateurs</a></h2>
                <h2><a class="fs-6"href="{{ path('admin_product_index') }}">Liste des Produits</a></h2>
                <h2><a class="fs-6"href="{{ path('admin_category_index') }}">Liste des Catégories</a></h2>
                <h2><a class="fs-6"href="{{ path('admin_brand_index') }}">Liste des Marques</a></h2>
        </div>
    </div>
  
</div>



{% endblock %}


