{% extends 'admin/layout.back.office.html.twig' %}

{% block title %}Liste des produits !
{% endblock %}

{% block body %}
{% block cards %}{% endblock %}


	<section class="container-fluid scrollarea table-boot py-5">
		<h1 class="container">Liste des produits</h1>
		<div class="d-flex justify-content-around">
			<span class="fs-6"><a href="{{ path('admin_product_create') }}">Ajouter un produit</a></span>
		</div>
		<div class="container">
			<table class="table  table-hover">
				<thead class="table-primary">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nom</th>
						<th scope="col">prix HT</th>
						<th scope="col">TVA</th>
						<th scope="col">prix TTC</th>
						<th scope="col">Référence</th>
						<th scope="col">Description</th>
						<th scope="col">Stock</th>
						<th scope="col">Catégories associées</th>
						<th class="d-none d-lg-block" id="list_recent_products">
						<div>récent</div>
						<div>promos</div>
						<div>% prom</div>
						</th>
					
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<th scope="row">{{ product.id }}</th>
							<td>{{ product.name }}</td>
							<td>{{ product.exclTaxesPrice }}</td>
							<td>{{ product.salesTax }}</td>
							<td>{{ product.inclTaxesPrice }}</td>
							<td>{{ product.reference }}</td>
							<td>{{ product.description }}</td>
							<td>{{ product.stock }}</td>
							<td><ul>
							{% for category in product.categories %}
							<li>{{ category.name }}</li>
							{% endfor %}
							</ul>
							</td>
							<td class="d-none d-lg-block text-center">
							<div>{{ product.statusRecent }}</div>
							<div>{{ product.statusPromotion }}</div>
							<div>{{ product.percentagePromotion }}</div>
							</td>
			
						    <td>
                                <div><a href="{{ path('admin_product_update', {id:product.id}) }}">Editer</a></div>
                                <div><a href="{{ path('admin_product_picture_create', {id:product.id}) }}">Images</a></div>
                                <div><a href="#">Supprimer</a></div>
                            </td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">Aucunes données trouvées</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>


</div></main>{% endblock %}
