{% extends 'admin/layout.back.office.html.twig' %}

{% block title %}Liste des produits !
{% endblock %}

{% block body %}
{% block cards %}{% endblock %}


	<section class="container-fluid scrollarea table-boot py-5">
		<h1 class="container">Liste des produits</h1>
		<div class="container">
			<table class="table  table-hover">
				<thead class="table-primary">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nom</th>
						<th scope="col">prix HT</th>
						<th scope="col">TVA</th>
						<th scope="col">prix TTC</th>
						<th scope="col">Référence</th>
						<th scope="col">Description</th>
						<th scope="col">Stock</th>
						<th scope="col">Récent</th>
						<th scope="col">Promotion</th>
						<th scope="col">Pourcentage Promotion</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<th scope="row">{{ product.id }}</th>
							<td>{{ product.name }}</td>
							<td>{{ product.exclTaxesPrice }}</td>
							<td>{{ product.salesTax }}</td>
							<td>{{ product.inclTaxesPrice }}</td>
							<td>{{ product.reference }}</td>
							<td>{{ product.description }}</td>
							<td>{{ product.stock }}</td>
							<td>{{ product.statusRecent }}</td>
							<td>{{ product.statusPromotion }}</td>
							<td>{{ product.percentagePromotion }}</td>
						    <td>
                                <a href="#">éditer</a>
                            </td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">Aucunes données trouvées</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>


</div></main>{% endblock %}
